*.pyc
.torch
_ext
*.o
work
work/*
_ext/

\.DS_Store

\.idea/encodings\.xml

\.idea/

models/

networks/channelnorm_package/channelnorm_cuda\.egg-info/

networks/correlation_package/correlation_cuda\.egg-info/

networks/resample2d_package/resample2d_cuda\.egg-info/

geometry/

checkpoints/

.DS_Store

viz_layer/

viz_im/

viz_flownet/

plots/

networks/

inter_flow/

input_images/

grads/

checkpoints/

act_diff/

.idea/

